<tr>
  <td>
    <%= register.buyer %>
  </td>
  <td>
    <%= register.description %>
  </td>
  <td>
    <%= register.unity_price %>
  </td>
  <td>
    <%= register.quantity %>
  </td>
  <td>
    <%= register.address %>
  </td>
  <td>
    <%= register.supplier %>
  </td>
</tr>
