<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
        Nome do arquivo: <%= @file_import.filename %>
      </div>
      <div class="panel-body">
        <%= @file_import.content %>
      </div>
    </div>
  <h3>Dados importados:</h3>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Comprador</th>
        <th>Descrição</th> 
        <th>Preço Unitário</th>
        <th>Quantidade</th>
        <th>Endereço</th>
        <th>Fornecedor</th>
      </tr>
    </thead>
    <tbody>
      <% @data_imported.each do |data_imported| %>  
        <tr>
          <td><%= data_imported.client %></td>
          <td><%= data_imported.description %></td>
          <td><%= number_to_currency(data_imported.unit_price, unit: "R$ ", separator: ",", delimiter: ".") %></td>
          <td><%= data_imported.quantity %></td>
          <td><%= data_imported.address %></td>
          <td><%= data_imported.supplier %></td>   
        </tr>
      <% end %> 
    </tbody>
  </table>
  <h3>Receita bruta: <%= number_to_currency(@file_import.income, unit: "R$ ", separator: ",", delimiter: ".") %></h3>
  <%= link_to 'Voltar', file_imports_url, class: "btn btn-default btn-lg" %>
</div> 